<td>
    <table class="table table-striped">
        <tbody>
        <tr style="background-color: #122b40">
            <td class="text-danger">Portada</td>
            <td class="text-danger">Título</td>
            <td class="text-danger">Año</td>
        </tr>
        <tr ng-repeat="album in albums">
            <!--<td class="col-md-1"><img ng-src="{{ imageStd }}" class="img-thumbnail img-responsive"/></td>-->
            <td class="col-md-1"><img image-loader id="album.id"/></td>
            <td class="col-md-5">{{ album.title}}</td>
            <td class="col-md-1">{{ album.year}}</td>
        </tr>
        </tbody>
    </table>
</td>